
<h1><%= @course.name %></h1>
<p><%= link_to "Edit", edit_course_path %></p>
<p><%= link_to "Back to all courses", courses_path %></p>
<p><%= link_to "Delete course", course_path, method: "delete" %></p>
